.slidev-layout th {
    font-weight: bold;
}

.slidev-layout {
    --uno: 'bg-slate-200 dark:bg-slate-900';
}


.slidev-layout h1 + p {
      opacity: 1 !important;
    }

.slidev-layout .my-auto h1 + p {
    opacity: 1 !important;
}

.slidev-layout .markdown-alert {
    font-size: 0.9rem;
    --uno: 'bg-lightblue-100 dark:bg-blue-800';
    border-radius: 10px;
    width: 95%;
    margin: 10px auto;
}

.slidev-layout .markdown-alert-title {
    font-weight: 800;
    font-size: 1.1rem;
    --uno: 'text-black dark:text-white';
    padding: 0 4px;
    border-radius: 3px;
}


.slidev-layout strong {
    font-weight: 800;
    font-size: 1.1rem;
    --uno: 'bg-yellow-200 dark:bg-purple-800';
    padding: 0 4px;
    border-radius: 3px;
}

.simple-border {
    border: 1px solid #838181;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.left-col {
    border-right: 1px solid #838181;
}

.slidev-layout th {
    --uno: 'bg-lightblue-200 dark:bg-blue-700';
}


.katex {
    --uno: 'bg-white dark:bg-black';
    border: 1px dotted #838181;
    padding: 3px;
    border-radius: 0.5em;
}

.slidev-layout td, .slidev-layout th {
    border: 1px solid #838181;
}

.note {
    font-size: 1.1rem;
    --uno: 'bg-yellow-100 dark:bg-yellow-800';
    padding: 10px;
    border: 1px dotted #838181;
    margin: 5px;
}

.slidev-layout .col-left {
    padding-right: 10px;
    border-right: 1px dotted #838181;
}

.slidev-layout .col-right {
    padding-left: 10px;
    border-left: 1px dotted #838181;
}

.slidev-layout td, .slidev-layout th {
    padding: 0px;
}